body{
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

.nav_a{
    background-color: white;
    border: 10px solid gray;
    padding: 4px;
    text-decoration: none;
    width: 100px;
    text-align: center;

}

.nav_a:hover{
    color: black;
    background-color: green;
}

li{
    margin-top: 10px;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
}